#Django Web Framework
Django==4.1.2

#Django Cors Headers - Used to enable CORS headers in API responses, and allow requests to be made to your API server from other origins.
django-cors-headers==3.13.0

#Django REST Framework - Used to design API logic
djangorestframework==3.14.0

#MySQL Client - Used as an interface to connect Django application to the MySQL server.
#mysqlclient
sqlparse==0.4.3
PyMySQL==1.0.2
